.wid100 {
    width: 100%;
}
.card37 {
    height: 40rem;
}
.overflow-auto {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    min-width: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    filter: brightness(90%);
    color: #212529;
}

body {
font-family: 'Kanit', sans-serif;
}

nav {
background-color: #f8f9fa;
padding: 20px;
}

#sobre {
background-color: #f8f9fa;

}

#sobre img {
max-width: 100%;
height: auto;
border-radius: 50%;
}

#msg_eu {
font-size: 28px;
color: #212529;
}

#sou {
color: #dc3545;
}
.icon{
color: #dc3545;
}
.icon:hover{
color: #ffffff;
}

#projetos {
background-color: #f8f9fa;

}

.card-body {
display: flex;
flex-direction: column;


}


.card-footer {
display: flex;
justify-content: center;
}

#tecnologias {
background-color: #f8f9fa;

}

.card-body {
height: 180px;
}


#contato {
background-color: #f8f9fa;

}
